.footer-container{
    @extend .space-between;
    padding-top: 90px;
    max-width: 1180px;
    margin: 0 auto;
}
.storm{
    .p{
        line-height: 30px;
        @extend .default-text;
    }
    .a{
        line-height: 30px;
        font-size: 18px;
        color: $text-color;
    }
}
.social-icons{
    max-width: 200px;
    .li{
        padding: 0 10px;
        display: inline-block;
        vertical-align: middle;
        &:last-child{
            padding-right: 0px;
        }
        &:hover{
            opacity: 0.7;
        }
    }
    .img{
        height: 30px;
    }
}
  