.allservice-container{
    max-width: 560px;
    height: 650px;
}
.service-container{
    max-width: 260px; 
    height: 200px;
    .a{
        font-family: $poppins;
        font-size: 21px;
        color: $text-color;
        &:hover{
            opacity: 0.7;
        }
    } 
    .p{
        font-family: $poppins;
        @extend .default-text;
        margin-top: 30px;
    }
}
.icon{
    margin: 50px 0 30px 0;
    &:hover{
        opacity: 0.7;
    }
}
.services{
    margin: 80px 195px 0 375px;
    .h1{
        font-family: $poppins;
        font-size: 48px;
        color: $text-color;
    }
}